BACK RCDATA "mm-Back_32x32.scale-400.svg"
FASTFORWARD RCDATA "mm-Fast-Forward_32x32.scale-400.svg"
FORWARD RCDATA "mm-Forward_32x32.scale-400.svg"
PLAY RCDATA "mm-Play_32x32.scale-400.svg"
STOP RCDATA "mm-Stop_32x32.scale-400.svg"
REPLACE RCDATA "exchange.svg"
FIND RCDATA "Find_32x32.scale-400.svg"
OPEN RCDATA "Open-2_32x32.scale-400.svg"
SAVE RCDATA "Save_32x32.scale-400.svg"
